

<!-- BARRA DE NAVEGAÇÃO -->
  <nav class="navbar sticky-top navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img id="logo-header" src="img/logo.png" alt="Logo UpE">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto w-100 justify-content">
              <li class="nav-item"><a class="nav-link" id="inicio" href="../views/index.ejs">Página Inicial</a></li>
              <li class="nav-item"><a class="nav-link" id="doar" href="../views/doar">Seja um doador</a></li>
              <li class="nav-item"><a class="nav-link" id="colaborar" href="../views/colaborar.ejs">Seja um colaborador</a></li>
              <li class="nav-item"><a class="nav-link" id="cadastroAluno" href="../views/registrar-aluno.ejs">Cadastre-se</a></li>
              <li class="nav-item"><a class="nav-link" id="historias" href="../views/historias.ejs">Nossas histórias</a></li>
              <li class="nav-item"><a class="nav-link" id="login" href="../views/index.ejs">Entrar</a></li>
          </ul>
        </div>
      </div>
    </nav>

