

<!-- BARRA DE NAVEGAÇÃO -->
  <nav class="navbar fixed-top navbar-expand-lg justify-content-between menu-superior">
      <div class="container row">
        <div class="col-lg-2">
          <a class="navbar-brand" href="index.html">
            <img id="logo-header" src="/img/logo.jpg" alt="Logo UpE">
          </a>
          <button 
            class="navbar-toggler" type="button" 
            data-toggle="collapse" data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" 
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
        </div>

        <div class="collapse navbar-collapse col-lg-10" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto w-100 justify-content-between">
              <li class="nav-item"><a class="nav-link" id="inicio" href="index">Página Inicial</a></li>
              <li class="nav-item"><a class="nav-link" id="doar" href="doar">Seja um doador</a></li>
              <li class="nav-item"><a class="nav-link" id="colaborar" href="colaborar">Seja um colaborador</a></li>
              <li class="nav-item"><a class="nav-link" id="cadastroAluno" href="registrar">Cadastre-se</a></li>
              <li class="nav-item"><a class="nav-link" id="historias" href="historias">Nossas histórias</a></li>
              <li class="nav-item"><a class="nav-link" id="login" href="index">Entrar</a></li>
          </ul>
        </div>
      </div>
    </nav>

