<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- CONTEÚDO DO HEAD -->
    <%- include('../partials/head'); %>

    <title>Agradecemos</title>
    <!-- CSS do Dashboard -->
    <link rel="stylesheet" type="text/css" href="/stylesheet/agradecimento.css">
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
</head>

<body>
    <header>
        <!-- BARRA DE NAVEGAÇÃO -->
        <%- include('../partials/header'); %>
    </header>


    <main class="home container">
        <header id="bemVindoAluno">
            <h1 class="fw-light">Agradecemos sua colaboração</h1>
            <p class="subtitle"> Fique atento(a) ao seu e-mail e em breve entraremos em contato.<br>
            </p>
        </header>
        <div class="row">

            <button id="voltar" class="btn btn-primary btnVoltar  my-4">Voltar à pagina inicial</button>

        </div>
        </div>
        <h4 class="title">
            Tem alguma dúvida?
        </h4>

        <a href="/dashboard" class="subtitle" style="text-decoration: underline;
            color: #6157C1;">
            Fale conosco.
        </a>
        </p>
        
        </form>

        <!-- <div class="col-md-3 div2 navbarDashboard"> -->
        <!-- COLUNA 2 - BOTÕES-->
        <!-- <a class="aBotao" href="/aluno/pedido-doacao"><button class="btnEntrar" id="btnAluno">
                <i class="bi bi-suit-heart"></i>
                Solicite uma Doação
                <p class="pbtn">Te ajudamos com materiais escolares</p>
            </button></a>
        </div>

    </div> 

    <div class="row 2">
        <div class="col-md-12">
            <h3 class="title">
                Tem alguma dúvida?
            </h3>
            
            <p class="subtitle">
                Fale conosco
            </p>

            <i class="bi bi-instagram"></i>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-linkedin"></i>

        </div> -->





        <!--     <section class="row" id="studentDashboard optionsMenu">
        <nav class="col-lg-3 col-md-3 col-sm-12">
            <ul id="navbarDashboard" class="navbar-nav row align-items-center mr-auto justify-content-between">
                <li class="nav-item botaoDashboard">
                    <a class="nav-link" href="registrar">
                        <img src="/img/DadosCadastrais.png" alt="" class="float-left">
                       <p class="float-right">Dados cadastrais</p>
                        <p class="float-right"><small>Matenha-os sempre atualizados</small></p>
                    </a>
                </li>
                <li class="nav-item botaoDashboard">
                    <a class="nav-link" href="registrar">
                        <img src="/img/DadosCadastrais.png" alt="">
                        <p>Doações solicitadas</p>
                        <p><small>Acompanhe a sua solicitação</small></p>
                    </a>
                </li>
                <li class="nav-item botaoDashboard">
                    <a class="nav-link" href="/aluno/pedido-doacao">
                        <img src="/img/DadosCadastrais.png" alt="">
                        <p>Solicite uma doação</p>
                        <p><small>Te ajudamos com materiais escolares</small></p>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="col-lg-9 col-md-9 col-sm-12" id="studentDashboard optionsResults">
            <p>Mussum Ipsum, cacilds vidis litro abertis. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Per aumento de cachacis, eu reclamis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>

            <p>Diuretics paradis num copo é motivis de denguis. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Viva Forevis aptent taciti sociosqu ad litora torquent. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.</p>
            
        </section>
    </section>-->
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="/js/formValidation.js"></script>
    <script src="/js/analiseFilename.js"></script>
</body>

</html>