<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- CONTEÚDO DO HEAD -->
    <%- include('../partials/head'); %>

    <title>Página do Aluno</title>
    <!-- CSS do Dashboard -->
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="/stylesheet/analise.css"
    >
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
</head>

<body>
<header>
  <!-- BARRA DE NAVEGAÇÃO -->
  <%- include('../partials/header'); %>
</header>


<main class="home container">
    <header id="bemVindoAluno">
        <h1 class="fw-light">Sua solicitação está em análise</h1>
        <p class="subtitle"> A Donate se empenha em ajudar aqueles que precisam.<br>
            Nos ajude a confirmar seus dados.</p>
    </header>
    <div class="row">


        <div class="col-md-6">
            <form action="/aluno/solicitar-doacao" method="POST">
                <div class="form-group">
                    <label for="renda">Comprovante de renda</label>
                    <div class="input-group">
                      <div class="custom-file ">
                        <input type="file" class="custom-file-input" id="renda" name="aluno[renda]" style="display: none;" required>
                        <label class="custom-file-label" for="renda">Escolha o arquivo</label>
                      </div>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-file" type="button" id="btn-renda"><i class="bi bi-upload"></i></button>
                      </div>
                    </div>
                  </div>
                  <small id="uploadHelp" class="form-text text-muted ml-3">Arquivos nos formatos PNG, JPG, JPEG e PDF</small>
                  <div class="form-group">
                    <label for="residencia">Comprovante de residência</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="residencia" name="aluno[residencia]" required>
                        <label class="custom-file-label" for="residencia">Escolha o arquivo</label>
                      </div>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-file" type="button" id="btn-residencia"><i class="bi bi-upload"></i></button>
                      </div>
                    </div>
                  </div>
                  <small id="uploadHelp" class="form-text text-muted ml-3">Arquivos nos formatos PNG, JPG, JPEG e PDF</small>
                </div>
            </div>
        </div>
        <button id="enviar" class="btn btn-primary btnSolicitar mx-auto my-4">ENVIAR</button>
    </form>

       <!-- <div class="col-md-3 div2 navbarDashboard"> --> <!-- COLUNA 2 - BOTÕES-->
           <!-- <a class="aBotao" href="/aluno/pedido-doacao"><button class="btnEntrar" id="btnAluno">
                <i class="bi bi-suit-heart"></i>
                Solicite uma Doação
                <p class="pbtn">Te ajudamos com materiais escolares</p>
            </button></a>
        </div>

    </div>

    <div class="row 2">
        <div class="col-md-12">
            <h3 class="title">
                Compartilhe nosso programa na sua redes
            </h3>
            
            <p class="subtitle">
                e ajude outros a também receberem doações
            </p>

            <i class="bi bi-instagram"></i>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-linkedin"></i>

        </div> -->





 <!--     <section class="row" id="studentDashboard optionsMenu">
        <nav class="col-lg-3 col-md-3 col-sm-12">
            <ul id="navbarDashboard" class="navbar-nav row align-items-center mr-auto justify-content-between">
                <li class="nav-item botaoDashboard">
                    <a class="nav-link" href="registrar">
                        <img src="/img/DadosCadastrais.png" alt="" class="float-left">
                       <p class="float-right">Dados cadastrais</p>
                        <p class="float-right"><small>Matenha-os sempre atualizados</small></p>
                    </a>
                </li>
                <li class="nav-item botaoDashboard">
                    <a class="nav-link" href="registrar">
                        <img src="/img/DadosCadastrais.png" alt="">
                        <p>Doações solicitadas</p>
                        <p><small>Acompanhe a sua solicitação</small></p>
                    </a>
                </li>
                <li class="nav-item botaoDashboard">
                    <a class="nav-link" href="/aluno/pedido-doacao">
                        <img src="/img/DadosCadastrais.png" alt="">
                        <p>Solicite uma doação</p>
                        <p><small>Te ajudamos com materiais escolares</small></p>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="col-lg-9 col-md-9 col-sm-12" id="studentDashboard optionsResults">
            <p>Mussum Ipsum, cacilds vidis litro abertis. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Per aumento de cachacis, eu reclamis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>

            <p>Diuretics paradis num copo é motivis de denguis. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Viva Forevis aptent taciti sociosqu ad litora torquent. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.</p>
            
        </section>
    </section>-->
</main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="/js/meterialFormValidation.js"></script>
</body>
</html>