<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- CONTEÚDO DO HEAD -->
    <%- include('../partials/head'); %>

    <title>Página do Aluno</title>
    <!-- CSS do Dashboard -->
    <link
        rel="stylesheet"
        type="text/css"
        href="stylesheet/dashboard.css"
    >
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
</head>

<body>
<header>
  <!-- BARRA DE NAVEGAÇÃO -->
  <%- include('../partials/header'); %>
</header>


<main class="home container">
    <div class="row">
        <header id="bemVindoAluno" class="col-12">
                <h1 class="fw-light">Olá, <%= nomeResponsavel %> !</h1>
                <p>Suas informações estão aqui.</p>
        </header>

        <div class="col-md-3 div1 navbarDashboard">   <!-- COLUNA 1 - BOTÕES-->

            <a class="aBotao" href="/dashboard"><button class="btnEntrar" id="btnAluno">
                <i class="bi bi-person"></i>
                Dados Cadastrais
                <p class="pbtn">Mantenha-os sempre atualizados</p>
            </button></a>

            <a class="aBotao" href="/dashboard"><button class="btnEntrar" id="btnAluno">
                <i class="bi bi-gift"></i>
                Doações Solicitadas
             <p class="pbtn">Acompanhe a sua solicitação</p>
            </button></a>
        </div>

        <div class="col-md-3 div2 navbarDashboard"> <!-- COLUNA 2 - BOTÕES-->
            <a class="aBotao" href="/aluno/solicitar"><button class="btnEntrar" id="btnAluno">
                <i class="bi bi-suit-heart"></i>
                Solicite uma Doação
                <p class="pbtn">Te ajudamos com materiais escolares</p>
            </button></a>
        </div>

    </div>

    <div class="row 2">
        <div class="col-md-12">
            <h3 class="title">
                Compartilhe nosso programa na sua redes
            </h3>

            <p class="subtitle">
                e ajude outros a também receberem doações
            </p>

            <a href="http://instagram.com/"><img class="icon" src="/img/inst.png" alt="Instagram"/></a>
            <a href="http://facebook.com/"><img class="icon" src="/img/face.png" alt="Facebook"/></a>
            <a href="http://br.linkedin.com/"><img class="icon" src="/img/ed.png" alt="LinkeIn"/></a>

        </div>
</main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>