<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- CONTEÚDO DO HEAD -->
  <%- include('../partials/head'); %>

  <link rel="stylesheet" type="text/css" href="/stylesheet/entrar.css">
  <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
  <title>Entrar</title>
</head>

<body>
  <header>
    <!-- BARRA DE NAVEGAÇÃO -->
    <%- include('../partials/header'); %>
  </header>
  <section class="hwhite">

    <div class="container home">
      <div class="row justify-content-center">
        <div class="col-md-6 div2 form-border">
          <form action="/login" method="POST">
            <h3>Entrar</h3>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Digite seu email" name="email">
            </div>

            <div class="form-group">
              <label for="password">Senha</label>
              <input type="password" class="form-control" id="password" placeholder="Digite sua senha" name="password">
            </div>
            <div class="form-group">
              <a href="#" class="btnLink" id="btnEsqueciSenha">Esqueci minha senha</a>
              <!-- BOTÃO PARA REALIZAR LOGIN DE ALUNO -->
              <a class="aBotao" href="/dashboard"><button class="btn btn-primary btnEntrar my-3" id="btnAluno">Entrar</button></a>
            </div>
          </form>

          <!-- BOTÃO PARA ABRIR O CADASTRO DE ALUNO -->
          <div class="text-center">
            <div class="my-3">
              <a href="/aluno/registrar" id="btnDoacao"><button class="btn btn-primary btnCadastrar">Cadastrar Aluno</button></a>
            </div>
            <a href="/doar" class="btnDoador" id="btnDoador">Sou doador</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>