<!DOCTYPE html>
<html lang="pt-br">
  
<head>
  <!-- CONTEÚDO DO HEAD -->
  <%- include('../partials/head'); %>

  <link 
      rel="stylesheet" 
      type="text/css" 
      href="/stylesheet/entrar.css"
  >
  <title>Entrar</title>
</head>

<body> 
  <header>
    <!-- BARRA DE NAVEGAÇÃO -->
    <%- include('../partials/header'); %>
  </header>
    <section class="hwhite">

      <div class="container">
         <header class="title"> Quem somos</header>
           <br>

            <div class="row">

            <div class="col-md-6 div1"> <!-- COLUNA 1-->

              <h1 class="title">Unidos pela Educação</h1>
              <p class="legenda">Doando materiais escolares você melhora a educação e transforma vidas.</p>

            </div>

            <div class="col-md-6 div2"> <!-- LOGIN LADO 2-->
              <form>
                <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder="Digite seu email" name="email">
                </div>

                <div class="form-group">
                  <input type="password" class="form-control" id="password" placeholder="Senha" name="password">
                </div>

                <!-- BOTÃO PARA REALIZAR LOGIN DE ALUNO -->
                <a class="aBotao" href="/dashboard"><button class="btnInicial entrar" id="btnAluno">Sou Aluno</button></a>

              </form>

            <!-- BOTÃO PARA ABRIR O CADASTRO DE ALUNO -->
                <a class="aBotao" href="doar"><button class="btnInicial doar" id="btnDoacao">Cadastrar Aluno</button></a>
          </div>
        </div>



        </div>

    </div>
</section>
 


  <footer>
      <%- include('../partials/footer'); %>
  </footer>

</body>
</html>