<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- CONTEÚDO DO HEAD -->
    <%- include('../partials/head'); %>

    <!-- CSS DA PÁGINA DE DOAÇÃO -->
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="stylesheet/historia.css"
    >

    <title>Nossa História</title>
</head>

<body>
    <header>
        <!-- BARRA DE NAVEGAÇÃO -->
        <%- include('../partials/header'); %>
    </header>

    <section class="home"> <!-- O PROJETO-->

        <div class="container">
            <div class="row"> <!-- LINHA 1-->

                <div class="col-md-6 div1"> <!-- COLUNA 1-->
                        <h3>
                        Ajudamos você a fazer a diferança na vida de outras pessoas através de doações
                        </h3>
                        <!-- BOTÃO PARA ABRIR O CADASTRO DE DOADOR -->
                       <a class="aBotao" href="doar"><button class="btnInicial doar" id="btnDoacao">Faça uma doação</button></a>
                </div>

            <div class="col-md-6 div2"> <!-- COLUNA 2-->
                   <h3>
                       <i class="bi bi-water"></i>
                   </h3>
                </div>
            </div>
        </div>
    </section>
                            <!-- QUEM SOMOS-->

    <section class="hwhite">
        <div class="container">
          <header class="title"> -Quem somos-</header>
            <div class="row">
                <div class="col-md-6 div1"> <!-- COLUNA 1-->
                    <h3>
                        <i class="bi bi-water"></i>
                    </h3>
                </div>

                <div class="col-md-6 div2"> <!-- COLUNA 2-->
                    <h4>  Aqui seu gesto vale muito! <br>
                        A Donate trabalha pela transformação social auxiliando na aquisição de materiais escolares e dispositivos móveis para alunos de escolas municipais e estaduais.<br>
                        Estamos sempre em busca de uma sociedade mais humana.<br>
                        Faça parte desse projeto!<br>
                    </h4>

                </div>
                </div>
            </div>
        </div>

    <section class="hgray"> <!-- SEJA UM DOADOR-->
        <header class="title"> -Seja um doador-</header>
        <div class="row">

            <div class="col-sm-4"> <!-- DOAÇÃO 1-->
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Doação de Materiais Escolares</h5>
                         <p class="card-text">Conheça um pouco sobre nosso projeto de arrecadação de materiais escolares e aproveite para fazer uma doação.</p>
                        <a href="#" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"> <!-- DOAÇÃO 2-->
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Doação de equipamentos eletrônicos</h5>
                         <p class="card-text">In this case, the role of the health laboratory is very important to do
                            a disease detection...</p>
                        <a href="#" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"> <!-- DOAÇÃO 3-->
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Conheça nossas assinaturas</h5>
                         <p class="card-text">Nossas assinaturas ajudam a impactar mais pessoas e matém a nossa plataforma funcionando </p>
                        <a href="#" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>


    <section class="hwhite"> <!-- HISTÓRIAS-->
            <header class="title"> -Nossas histórias-</header>
                <h3>
                    <div class="row">

                        <div class="col-sm-4"> <!-- HISTÓRIA 1-->
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                     <h5 class="card-title">Vonluntários se empenham em doações</h5>
                                     <p class="card-text">Todos estamos trabalhando por uma causa maior e nossos voluntários te ajudam com as doações...</p>
                                    <a href="#" class="btn btn-primary">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4"> <!-- HISTÓRIA 2-->
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                     <h5 class="card-title">Crianças retornam os estudos na Escola...</h5>
                                     <p class="card-text">Depois de ficarem sem acesso as aulas devido a falta de aparelhos eletrônicos, crianças retornam...</p>
                                    <a href="#" class="btn btn-primary">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4"> <!-- DOAÇÃO 3-->
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                     <h5 class="card-title">Materiais escolares doados </h5>
                                     <p class="card-text">Materiais escolares arrecadados por nosso programa que beneficia crianças carentes. </p>
                                    <a href="#" class="btn btn-primary">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </h3>
    </section>

    <section class="hgray"> <!-- COLABORADORES-->
            <header class="title"> -Colaboradores-</header>
         <h3>
         Doação de Materiais Escolares (Saiba mais...)<br>
         Doação de Materiais Escolares (Saiba mais...)<br>
         Doação de Materiais Escolares (Saiba mais...)<br>
        </h3>
    </section>


    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
       integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
</body>

</html>