<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- CONTEÚDO DO HEAD -->
    <%- include('../partials/head'); %>

    <!-- CSS DA PÁGINA DE DOAÇÃO -->
    <link 
        rel="stylesheet" 
        type="text/css"
        href="stylesheet/historia.css"
    >

    <title>Nossa História</title>
</head>

<body>
    <header>
        <!-- BARRA DE NAVEGAÇÃO -->
        <%- include('../partials/header'); %>
    </header>

                <!-- INICIO CONTEÚDO-->

    <section class="home"> <!-- O PROJETO-->
        <div class="text">
             <h3>
             Ajudamos você a fazer a diferança na vida de outras pessoas através de doações
             </h3>
             <a class="aBotao" href="doar"><button class="btnInicial doar" id="btnDoacao">Faça uma doação</button></a>
        </div>
        <div class="picture">  <!-- FOTO A DIREITA-->
            <h3> Foto
            </h3>
        </div>
    </section>
                            <!-- QUEM SOMOS-->

        <header class="title"> -Quem somos-</header>

    <section class="sobre"> <!-- SECTION ON-->

        <div class="picture-sobre">
            <h3>
             A FOTO É AQUI  
             </h3>

        </div>
        <div class="textsobre">
            <h6> Aqui seu gesto vale muito!

                A Donate trabalha pela transformação social auxiliando na aquisição de materiais escolares e dispositivos móveis para alunos de escolas municipais e estaduais.
                Estamos sempre em busca de uma sociedade mais humana.
                
                Faça parte desse projeto!
            </h6>
        </div>
    </section>


    <section class="home"> <!-- SEJA UM DOADOR-->

            <header class="title"> -Seja um doador-</header>
             <h3>
             Doação de Materiais Escolares (Saiba mais...)<br>
             Doação de Materiais Escolares (Saiba mais...)<br>
             Doação de Materiais Escolares (Saiba mais...)<br>
             </h3>


</section>
<section class="home"> <!-- HISTÓRIAS-->

    <header class="title"> -Nossas histórias-</header>
     <h3>
     Doação de Materiais Escolares (Saiba mais...)<br>
     Doação de Materiais Escolares (Saiba mais...)<br>
     Doação de Materiais Escolares (Saiba mais...)<br>
     </h3>


</section>
<section class="home"> <!-- COLABORADORES-->

    <header class="title"> -Colaboradores-</header>
     <h3>
     Doação de Materiais Escolares (Saiba mais...)<br>
     Doação de Materiais Escolares (Saiba mais...)<br>
     Doação de Materiais Escolares (Saiba mais...)<br>
     </h3>


</section>



    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
       integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
</body>

</html>