<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- CONTEÚDO DO HEAD -->
    <%- include('../partials/head'); %>

    <!-- CSS DA PÁGINA DE DOAÇÃO -->
    <link rel="stylesheet" type="text/css" href="stylesheet/historia.css">
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>

    <title>Nossa História</title>
</head>

<body>
    <header>
        <!-- BARRA DE NAVEGAÇÃO -->
        <%- include('../partials/header'); %>
    </header>
    <br id="donate">
    <section class="mt-4">
        <div class="container-fluid main py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="main-text mb-5">Ajudamos você a fazer a diferança na vida de outras pessoas através
                            de doações</h1>
                            <a href="#" class="btnDoar mb-5">Seja um Doador</a>
                        </div>
                        <div class="col-md-6">
                        </div>
                </div>
            </div>
        </div>
        <div id="sobre-nos" class="block py-5">
            <div class="container">
                <div class="block-text text-center">
                    <h2 class="text">Quem somos</h2>
                    <hr class="text-line">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="/img/meninas.png" alt="" class="img-fluid my-5">
                    </div>
                    <div class="col-md-6 mt-5">
                        <p class="block-p">Aqui seu gesto vale muito!</p>
                        <p class="block-p">A Donate trabalha pela transformação social auxiliando na aquisição de
                            materiais escolares e dispositivos móveis para alunos de escolas municipais e estaduais.
                            Estamos sempre em busca de uma sociedade mais humana.</p>
                        <p class="block-p mb-5">Faça parte desse projeto!</p>
                        <a href="#" class="btn btn-primary">Seja um parceiro</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="seja-doador" class="block py-5">
            <div class="container ">
                <div class="block-text text-center">
                    <h2 class="text">Seja um doador</h2>
                    <hr class="text-line">
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4 my-4">
                        <div class="card pink">
                            <img src="/img/mesa.png" alt="" class="img-fluid">
                            <div class="card-body">
                                <h5 class="card-title">Doações de materiais escolares</h5>
                                <p class="card-text">Conheça um pouco sobre nosso projeto de arrecadação de materiais escolares e aproveite para fazer uma doação.</p>
                                <div class="card-footer text-center">
                                    <a href="/doar" class="btnDoador card-btn ">Doar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 my-4">
                        <div class="card pink">
                            <img src="/img/menina02.png" alt="" class="img-fluid">
                            <div class="card-body">
                                <h5 class="card-title">Doações de eletrônicos</h5>
                                <p class="card-text">Ajude alunos que não possuem dispositivos eletrônicos para realizarem suas atividades.</p>
                                <div class="card-footer text-center">
                                    <a href="/doar" class="btnDoador card-btn ">Doar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 my-4">
                        <div class="card pink">
                            <img src="/img/moeda.png" alt="" class="img-fluid">
                            <div class="card-body">
                                <h5 class="card-title">Conheça nossas assinaturas</h5>
                                <p class="card-text ">Nossas assinaturas ajudam a impactar mais pessoas e matém a nossa plataforma funcionando.</p>
                                <div class="card-footer text-center">
                                    <a href="#" class="btnDoador card-btn ">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="historia" class="block py-5">
            <div class="container">
                <div class="block-text text-center">
                    <h2 class="text">Nossas historias</h2>
                    <hr class="text-line">
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4 my-4">
                        <div class="card">
                            <img src="/img/maos.png" alt="" class="img-fluid">
                            <div class="card-body">
                                <h5 class="card-title">Vonluntários se empenham em doações</h5>
                                <p class="card-text">Todos estamos trabalhando por uma causa maior e nossos voluntários te ajudam com as doações...</p>
                                <div class="card-footer">
                                    <a href="#"><span class="card-link">Saiba mais</span><i class="bi bi-arrow-right ml-3"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 my-4">
                        <div class="card">
                            <img src="/img/menina03.png" alt="" class="img-fluid">
                            <div class="card-body">
                                <h5 class="card-title">Crianças retornam os estudos na escola</h5>
                                <p class="card-text">Depois de ficarem sem acesso as aulas devido a falta de aparelhos eletrônicos, crianças retornam...</p>
                                <div class="card-footer">
                                    <a href="#"><span class="card-link">Saiba mais</span><i class="bi bi-arrow-right ml-3"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 my-4">
                        <div class="card">
                            <img src="/img/caixa.png" alt="" class="img-fluid">
                            <div class="card-body">
                                <h5 class="card-title">Materiais escolares doados </h5>
                                <p class="card-text ">Materiais escolares arrecadados por nosso programa que beneficia crianças carentes.</p>
                                <div class="card-footer">
                                    <a href="#"><span class="card-link">Saiba mais</span><i class="bi bi-arrow-right ml-3"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                <a href="#" class="btnCenter" disable>Ver todos</a>
        </div>
        <div id="parceiros" class="block py-5">
            <div class="container">
                <div class="block-text text-center">
                    <h2 class="text">Colaboradores</h2>
                    <hr class="text-line">
                </div>
                <div class="row my-5">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-3 sbcolab">
                                <img src="/img/bradesco.png" alt="" class="img-fluid colab">
                            </div>
                            <div class="col-3">
                                <img src="/img/pic.png" alt="" class="img-fluid colab">
                            </div>
                            <div class="col-3">
                                <img src="/img/fcamara.png" alt="" class="img-fluid colab">
                            </div>
                            <div class="col-3">
                                <img src="/img/kalunga.png" alt="" class="img-fluid colab">
                            </div>
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Seja um parceiro</a>
                </div>
            </div>
        </div>

    </section>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>