<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- CONTEÚDO DO HEAD -->
    <%- include('../partials/head'); %>

     <!-- CSS do Bootstrap --> 
     <link 
     href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
     rel="stylesheet"
     integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
     crossorigin="anonymous">

    <!-- CSS DA PÁGINA DE DOAÇÃO -->

    <link 
        rel="stylesheet" 
        type="text/css" 
        href="stylesheet/historia.css"
    >

    <title>Nossa História</title>
</head>

<body>
    <header>
        <!-- BARRA DE NAVEGAÇÃO -->
        <%- include('../partials/header'); %>
    </header>

    <section class="hgray home"> <!-- O PROJETO-->

        <div class="text">
             <h3>
             Ajudamos você a fazer a diferança na vida de outras pessoas através de doações
             </h3>
             <!-- BOTÃO PARA ABRIR O CADASTRO DE DOADOR -->
            <a class="aBotao" href="doar"><button class="btnInicial doar" id="btnDoacao">Faça uma doação</button></a>
        </div>
        <div class="picture">  <!-- FOTO A DIREITA-->
            <h3> Foto
            </h3>
        </div>
    </section>
                            <!-- QUEM SOMOS-->

    <section class="hwhite"> <!-- SECTION ON-->
        <header class="title"> -Quem somos-</header>
        <div class="picture-sobre">
            <h3>
             A FOTO É AQUI
             </h3>

        </div>
        <div class="textsobre">
            <h6> Aqui seu gesto vale muito!

                A Donate trabalha pela transformação social auxiliando na aquisição de materiais escolares e dispositivos móveis para alunos de escolas municipais e estaduais.
                Estamos sempre em busca de uma sociedade mais humana.

                Faça parte desse projeto!
            </h6>
        </div>
    </section>


    <section class="hgray"> <!-- SEJA UM DOADOR-->

            <header class="title"> -Seja um doador-</header>
             <h3>
             Doação de Materiais Escolares (Saiba mais...)<br>
             Doação de Materiais Escolares (Saiba mais...)<br>
             Doação de Materiais Escolares (Saiba mais...)<br>
             </h3>
    </section>

    <section class="home"> <!-- HISTÓRIAS-->
        <header class="title"> -Nossas histórias-</header>
            <h3>
            Doação de Materiais Escolares (Saiba mais...)<br>
            Doação de Materiais Escolares (Saiba mais...)<br>
            Doação de Materiais Escolares (Saiba mais...)<br>
            </h3>
    </section>


</section>
<section class="hwhite"> <!-- HISTÓRIAS-->

    <header class="title"> -Nossas histórias-</header>
     <h3>
     Doação de Materiais Escolares (Saiba mais...)<br>
     Doação de Materiais Escolares (Saiba mais...)<br>
     Doação de Materiais Escolares (Saiba mais...)<br>
     </h3>


</section>
<section class="hgray"> <!-- COLABORADORES-->

    <header class="title"> -Colaboradores-</header>
     <h3>
     Doação de Materiais Escolares (Saiba mais...)<br>
     Doação de Materiais Escolares (Saiba mais...)<br>
     Doação de Materiais Escolares (Saiba mais...)<br>
     </h3>


</section>


    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
       integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
</body>

</html>