<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- CONTEÚDO DO HEAD -->
    <%- include('../partials/head'); %>

    <!-- CSS DA PÁGINA DE DOAÇÃO -->
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="stylesheet/historia.css"
    >
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>

    <title>Nossa História</title>
</head>

<body>
    <header>
        <!-- BARRA DE NAVEGAÇÃO -->
        <%- include('../partials/header'); %>
    </header>

    <section class="home"> <!-- O PROJETO-->

        <div class="container">
            <div class="row"> <!-- LINHA 1-->

                <div class="col-md-6 div1"> <!-- COLUNA 1-->
                        <h3>
                        Ajudamos você a fazer a diferança na vida de outras pessoas através de doações
                        </h3>

                        <!-- BOTÃO PARA ABRIR O CADASTRO DE DOADOR -->
                        <a class="aBotao" href="doar"><button class="btnInicial doar" id="btnDoacao">Seja um doador</button></a>
                </div>

                <div class="col-md-6 div2"> <!-- COLUNA 2-->

                       <i class="bi bi-water"></i>

                </div>

            </div>
        </div>
    </section>

                                <!-- QUEM SOMOS-->
    <section class="hwhite">

        <div class="container">
          <header class="title"> -Quem somos-</header>
            <br>
            <div class="row">

                <div class="col-md-6 div1"> <!-- COLUNA 1-->

                        <i class="bi bi-water"></i>

                </div>

                <div class="col-md-6 div2"> <!-- COLUNA 2-->
                    <h4>  Aqui seu gesto vale muito! <br><br>
                        A Donate trabalha pela transformação social auxiliando na aquisição de materiais escolares e dispositivos móveis para alunos de escolas municipais e estaduais.<br>
                        Estamos sempre em busca de uma sociedade mais humana.<br>
                        Faça parte desse projeto!<br>
                    </h4> <!-- #### ESSE BOTÃO PRECISA SER ALTERADO O LINK ###-->
                        <a class="aBotao" href="doar"><button class="btnInicial doar" id="btnDoacao">Seja um parceiro</button></a>
                </div>

            </div>

        </div>
    </section>

                                <!-- SEJA UM DOADOR-->
    <section class="hgray">
        <header class="title"> Seja um doador</header>
            <br>
        <div class="row">

            <div class="col-sm-4"> <!-- DOAÇÃO 1-->
                <div class="card">
                    <i class="bi bi-water"></i> <!-- Imagem 1-->

                    <h3>
                    <div class="card-body">
                         <h5 class="card-title">Doação de materiais escolares</h5>
                         <p class="card-text">Conheça um pouco sobre nosso projeto de arrecadação de materiais escolares e aproveite para fazer uma doação.</p>
                         <a class="aBotao" href="doar"><button class="btnDoar" id="btnDoacao">Doar</button></a>
                    </div>
                    </h3>

                </div><br>
            </div>
            <div class="col-sm-4"> <!-- DOAÇÃO 2-->
                <div class="card">
                        <i class="bi bi-water"></i> <!-- Imagem 1-->

                    <h3>
                    <div class="card-body">
                         <h5 class="card-title">Doação de equipamentos eletrônicos</h5>
                         <p class="card-text">In this case, the role of the health laboratory is very important to do
                            a disease detection...</p>
                         <a class="aBotao" href="doar"><button class="btnDoar" id="btnDoacao">Doar</button></a>
                    </div>
                    </h3>

                </div> <br>
            </div>
            <div class="col-sm-4"> <!-- DOAÇÃO 3-->
                <div class="card">
                        <i class="bi bi-water"></i> <!-- Imagem 1-->

                    <h3>
                    <div class="card-body">
                         <h5 class="card-title">Conheça nossas assinaturas</h5>
                         <p class="card-text">Nossas assinaturas ajudam a impactar mais pessoas e matém a nossa plataforma funcionando </p>
                         <a class="aBotao" href="doar"><button class="btnDoar" id="btnDoacao">Saiba Mais</button></a>
                    </div>
                    </h3>

                </div><br>
            </div>
        </div>

    </section>


    <section class="hwhite"> <!-- HISTÓRIAS-->
            <header class="title"> -Nossas histórias-</header>
                <br>

                    <div class="row">

                        <div class="col-sm-4"> <!-- HISTÓRIA 1-->
                            <div class="card">
                                <i class="bi bi-water"></i> <!-- Imagem 1-->
                                <h3>
                                <div class="card-body">
                                     <h5 class="card-title">Vonluntários se empenham em doações</h5>
                                     <p class="card-text">Todos estamos trabalhando por uma causa maior e nossos voluntários te ajudam com as doações...</p>
                                    <a href="#" class="btnHistorias">Saiba mais »</a>
                                </div>
                                </h3>
                            </div><br>
                        </div>
                        <div class="col-sm-4"> <!-- HISTÓRIA 2-->

                            <div class="card">
                                <i class="bi bi-water"></i> <!-- Imagem 1-->
                                <h3>
                                <div class="card-body">
                                     <h5 class="card-title">Crianças retornam os estudos na Escola...</h5>
                                     <p class="card-text">Depois de ficarem sem acesso as aulas devido a falta de aparelhos eletrônicos, crianças retornam...</p>
                                    <a href="#" class="btnHistorias">Saiba mais »</a>
                                </div>
                                </h3>
                            </div><br>

                        </div>
                        <div class="col-sm-4"> <!-- DOAÇÃO 3-->
                            <div class="card">
                                <i class="bi bi-water"></i> <!-- Imagem 1-->
                                <h3>
                                <div class="card-body">
                                     <h5 class="card-title">Materiais escolares doados </h5>
                                     <p class="card-text">Materiais escolares arrecadados por nosso programa que beneficia crianças carentes. </p>
                                    <a href="#" class="btnHistorias">Saiba mais »</a>
                                </div>
                                </h3>
                            </div><br>
                        </div>

                    </div>
                    <a class="aBotao" href="doar"><button class="btnVerTodos" disabled id="btnDoacao">Seja um parceiro</button></a>

    </section>

    <section class="hgray"> <!-- COLABORADORES-->
            <header class="title"> -Colaboradores-</header>
            <i class="bi bi-person-circle"></i>
            <i class="bi bi-person-circle"></i>
            <i class="bi bi-person-circle"></i>
            <i class="bi bi-person-circle"></i>
            <br>
            <a class="aBotao" href="doar"><button class="btnColaborador" disabled id="btnDoacao">Seja um parceiro</button></a>

    </section>


    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
       integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
</body>

</html>