<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINK PARA CSS DO BOOSTRAP -->
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous"
    >

    <link 
        rel="stylesheet" 
        type="text/css" 
<<<<<<< HEAD:FCamara_Squad22-main/frontend/views/index.ejs
        href="stylesheet/index.css"
=======
        href="../public/stylesheet/index.css"
>>>>>>> main:FCamara_Squad22-main/frontend/views/index.html
    >
    <title>Página inicial</title>
</head>

<body>
    <div class="container" id="container-index">
        <div class="row">
          <div class="col-sm" id="leftSide">
            <h1 id="h1Initial">Unidos pela Educação</h1>
            <p id="pInitial">Doando materiais escolares você melhora a educação e transforma vidas.</p>
          </div>

          <div class="col-sm" id="rightSide">
            <form>
                <div class="form-group">
                  <input type="email" class="form-control" id="emailLogin" aria-describedby="emailHelp" placeholder="Digite seu email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="passwordLogin" placeholder="Senha">
                </div>
                <a class="aBotao" href="login.html"><button class="btnInicial entrar" id="btnAluno">Sou Aluno</button></a>
            </form>

            <a class="aBotao" href="doar.html"><button class="btnInicial doar" id="btnDoacao">Faça uma doação</button></a>
          </div>
        </div>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous">
    </script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
        crossorigin="anonymous">
    </script>
    <script 
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
        crossorigin="anonymous">
    </script>
</body>
</html>