<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- CONTEÚDO DO HEAD -->
  <%- include('../partials/head'); %>

  <link rel="stylesheet" type="text/css" href="/stylesheet/solicite-doacao.css">
  <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
  <title>Solicite uma Doação</title>
</head>

<body>
  <header>
    <!-- BARRA DE NAVEGAÇÃO -->
    <%- include('../partials/header'); %>
  </header>
  <section class="container mt-5">
    <div class="row">
      <div class="m-auto">
        <form action="/aluno/pedido-doacao" method="POST" class="form-border my-5">
          <h1 class="display-5 mt-0">Adicionar Material</h1>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="tipoMaterial">Tipo de Material</label>
              <select id="tipoMaterial" class="form-control custom-select" name="listaMaterial[tipoMaterial]">
                <option selected disabled hidden>Escolha o material</option>
                <option value="Apontador">Apontador</option>
                <option value="Agenda">Agenda</option>
                <option value="Borracha">Borracha</option>
                <option value="Caderno"> Caderno</option>
                <option value="Caderneta">Caderneta</option>
                <option value="Canetas esferográficas 0.8, 1.0, 1.2">Canetas esferográficas 0.8, 1.0, 1.2</option>
                <option value="Colas brancas">Colas brancas</option>
                <option value="Colas em bastão">Colas em bastão</option>
                <option value="Compasso">Compasso</option>
                <option value="Estojos escolares">Estojos escolares</option>
                <option value="Folhas EVA">Folhas EVA</option>
                <option value="Lápis de cor (caixa)">Lápis de cor (caixa)</option>
                <option value="Livros didáticos">Livros didáticos</option>
                <option value="Marca texto">Marca texto</option>
                <option value="Massas para modelar">Massas para modelar</option>
                <option value="Mochilas">Mochilas</option>
                <option value="Papel sulfite (pacote)">Papel sulfite (pacote)</option>
                <option value="Réguas">Réguas</option>
                <option value="Tesouras escolares">Tesouras escolares</option>
                <option value="Outros">Outros...</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="qntMaterial">Quantidade</label>
              <input type="number" class="form-control" id="qntMaterial" placeholder="Quantidade" name="listaMaterial[qntMaterial]">
            </div>
          </div>
          <div class="form-group">
            <label for="materialDesc">Descrição do Material</label>
            <textarea name="listaMaterial[materialDesc]" id="materialDesc" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <div class="row">
            <div class="col text-center">
              <button type="submit" class="btn btn-primary mt-3" id="cadastro">Incluir Material</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </section>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>