<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- CONTEÚDO DO HEAD -->
  <%- include('../partials/head'); %>

  <link rel="stylesheet" type="text/css" href="/stylesheet/solicite-doacao.css">
  <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
  <title>Solicite uma Doação</title>
</head>

<body>
  <header>
    <!-- BARRA DE NAVEGAÇÃO -->
    <%- include('../partials/header'); %>
  </header>
  <section class="container mt-5">
    <div class="row">
      <div class="m-auto">
        <form action="/aluno/pedido-doacao" method="POST" class="form-border my-5">
          <h1 class="display-5 mt-0">Adicionar Material</h1>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="tipoMaterial">Tipo de Material</label>
              <select id="tipoMaterial" class="form-control custom-select" name="listaMaterial[tipoMaterial]">
                <option selected disabled hidden>Escolha o material</option>
                <option value="apontador">Apontador</option>
                <option value="agenda">Agenda</option>
                <option value="borracha">Borracha</option>
                <option value="caderno"> Caderno</option>
                <option value="caderneta">Caderneta</option>
                <option value="caneta esferografica">Caneta esferográfica</option>
                <option value="cola branca">Colas brancas</option>
                <option value="cola em bastão">Colas em bastão</option>
                <option value="compasso">Compasso</option>
                <option value="estojo escolare">Estojos escolares</option>
                <option value="folha EVA">Folhas EVA</option>
                <option value="lapis de cor (caixa)">Lápis de cor (caixa)</option>
                <option value="livro didático">Livros didáticos</option>
                <option value="marca texto">Marca texto</option>
                <option value="massa para modelar">Massas para modelar</option>
                <option value="mochila">Mochilas</option>
                <option value="papel sulfite (pacote)">Papel sulfite (pacote)</option>
                <option value="regua">Réguas</option>
                <option value="tesoura escolare">Tesouras escolares</option>
                <option value="outros">Outros...</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="qntMaterial">Quantidade</label>
              <input type="number" class="form-control" id="qntMaterial" placeholder="Quantidade" name="listaMaterial[qntMaterial]">
            </div>
          </div>
          <div class="form-group">
            <label for="materialDesc">Descrição do Material</label>
            <textarea name="listaMaterial[materialDesc]" id="materialDesc" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <div class="row">
            <div class="col text-center">
              <button type="submit" class="btn btn-primary mt-3" id="cadastro">Incluir Material</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </section>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>