<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- CONTEÚDO DO HEAD -->
    <%- include('../partials/head'); %>

    <title>Obrigado pela Doação</title>
</head>

<body>
  <header>
    <!-- BARRA DE NAVEGAÇÃO -->
    <%- include('../partials/header'); %>
  </header>

<main>
  <div class="px-4 py-5 my-5 text-center home">
    <h1 class="display-5 fw-bold">OBRIGADO!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Doando materiais escolares, você melhora a educação e transforma vidas.</p>
    </div>
  </div>

  <footer>
      <%- include('../partials/footer'); %>
  </footer>
</body>
</html>