*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0
}
body{
    background-image: url("/img/bgdash4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbarDashboard{
    background-color: none;
}

#bemVindoAluno{
    background-color: none;
    padding: 2px;
}

h1{
    font-weight: bold;
}
.btnVoltar{
    background-color: #6157C1;
    border-color: #6157C1;
    color: white;
    display: block;
    cursor: pointer;
    font-weight: bold;
}
/*Estilização LETRAS*/
.title{
    font-weight: bold;
    padding-top: 15px;
}
.subtitle{
    font-size: 20px;
}
