*{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
  }

  body{
    background-image: url("/img/bgentrar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*LAYOUT ESTRUTURA DO SITE*/
.container{
    margin-bottom: 3%;
}

/*BOTÕES DO SITE*/

.btnEntrar{
    max-width: 492px;
    width: 100%;
    height: 44px;
}

.btnCadastrar {
    max-width: 315px;
    width: 100%;
    height: 44px;
    color: #6157C1;
    background-color: #ffffff;
    border: 1px solid #6157C1;
}
/*LETRAS E LINHAS DO SITE*/
p{ /*Textos de Cards*/
    font-size: 1rem;
}

.legenda,
.title {
    font-size: 1.25rem;
    text-align: center;
}

.title{
    font-size: 1.62rem;
    font-weight: bold;
}

h3{ /*Home (Sobre) / Seja um Doador*/
    text-align: start;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0%;
}

.form-border {
    /* border: 1px solid #000000; */
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 10px 40px 50px -20px rgba(0, 0, 0, 0.25);
    padding: 4em;
    background-color: white;
}