*{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
  }

  body{
    background-image: url("/img/bgentrar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*LAYOUT ESTRUTURA DO SITE*/
.container{
    margin-bottom: 3%;
}

/*BOTÕES DO SITE*/
.btnEntrar,
.btnCadastrar {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 3rem;
    margin-top: 5%;
    margin-left: 0%;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: #6157C1;
    color: #ffffff;
}

.btnEntrar{
    width: 100%;
    max-width: 522px;
}

.btnCadastrar {
    color: #1241C5;
    background-color: #ffffff;
    border: 1px solid #6157C1;
    margin-left: 35%;
}

.btnDoador{
    margin-left: 45%;

}

/*LETRAS E LINHAS DO SITE*/
p{ /*Textos de Cards*/
    font-size: 1rem;
}

.legenda,
.title {
    font-size: 1.25rem;
    text-align: center;
}

.title{
    font-size: 1.62rem;
    font-weight: bold;
}

h3{ /*Home (Sobre) / Seja um Doador*/
    text-align: start;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0%;
}

.form-border {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 4em;
    background-color: white;
}