*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0
}
body{
    background-image: url("/img/bgdashboard.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbarDashboard{ /* COLUNA 1 - BOTÕES */
    background-color: none;
}

#bemVindoAluno{
    background-color: none;
    height: 9rem;
}

/*ALTERAÇÕES CAMILA*/
 /*Estilização Botões*/

.btnEntrar{
    width: 20rem;
    height: 3.5rem;
    font-size: 1rem;
    text-align: left;
    border-radius: 0.5rem;
    margin: 2%;
    background-color: #6157C1;
    border: none;
    color: white;
}
.btnEntrar,
.btnVoltar{
    font-weight: bold;
}
.btnVoltar{
    max-width: 169px;
    background-color: #F6F6F6;
    border: 1px solid #6157C1;
    color: #6157C1;
    width: 7rem;
}
 /*Estilização DIVS*/
.div1,
.div2 {
    min-width: 21rem;
    text-align: left;
    margin-left: 2%;
}
/*Estilização LETRAS*/
.pbtn{
    font-size: small;
    font-weight:lighter;
}
.title{ 
    font-weight: bold;
}
.subtitle{
    font-size: 20px;
}
.title,
.subtitle{
    margin-left: 2%;
}
/*Estilização ICONS*/

.bi.bi-phone,
.bi.bi-book,
.bi.bi-question{
    float: left;
    font-size: 35px;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
}