.divFooter{
    width: 100%;
    height: 100%;
    bottom: 0px;
    padding-top: 1em;

    background: rgb(206, 218, 224);    /* Cinza 1 */
}

.h3Footer{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;

    color: #333333;   /* Cinza _ */
}

.pFooter{
    font-size: 0.7rem;
    text-decoration: none;
    color: #333333;
}

.pFooter:hover{
    font-size: 0.7rem;
    text-decoration: none;
    color: #333333;
}

#pFooterLeft{
    text-align: left;
    margin-left: 5rem;
    align-self: center;
}

#linha1,
#linha2{
    text-align: center;
    text-decoration: none;
    color: #333333;
}

#divSociais a img{
    width: 2rem;
    height: 2rem;
    margin-inline: 0.5rem;
}

#linha2 #linksPaginas ul li a{
    text-decoration: none;
    color: #333333;
}