.title{
    text-align: center;
    width: 100%;
    font-size: 35px;
    font-style: inherit;
}
.text, .picture{
    position:relative;
    height: 300px;
    padding: 100px;
    background-color: rgb(184, 190, 195);
}
.text{
    float: left;
    width:65%;
    margin:auto;
    text-align: center;
}
.picture{
    float: right;
    width:35%;
    text-align: center;
}
.picture-sobre, .textsobre{
    position:relative;
    height: 300px;
    padding: 100px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.picture-sobre{
    float: left;
    width:35%;
}
.textsobre{
    float: right;
    width:65%;
    margin:auto;
}
.hwhite, .hgray{
    height: 100%;
    padding: 1px;
}
.hgray{
    background-color:rgb(184, 190, 195);
}
.hwhite{
    background-color:rgb(255, 255, 255);
}