.title{
    text-align: center;
    width: 100%;
    font-size: 35px;
    font-style: inherit;
}
.text{
position:relative;
float: left;
width:65%;
height: 300px;
padding: 100px;
margin:auto;
background-color: rgb(184, 190, 195);
text-align: center;

}
.picture{
position:relative;
float: right;
width:35%;
height: 300px;
padding: 100px;
text-align: center;
background-color: rgb(184, 190, 195);
}
.picture-sobre{
    position:relative;
    float: left;
    width:35%;
    height: 300px;
    padding: 100px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    }
    .textsobre{
        position:relative;
        float: right;
        width:65%;
        height: 300px;
        padding: 100px;
        margin:auto;
        background-color: rgb(255, 255, 255);
        text-align: center;
    }
.hwhite{
    background-color:rgb(255, 255, 255);
    height: 100%;
    padding: 1px;
}
.hgray{
    background-color:rgb(184, 190, 195);
    height: 100%;
    padding: 1px;
}