*{
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 90vh;
  width: 90%;
  margin: 5vh 5%;

  display: flex;
}

#leftSide,
#rightSide {
  height: 40vh;
  text-align: center;
  padding: 1rem 2rem;
  margin: 1rem;
  /* background-color: #f0f2f5; */
  /* border-radius: 3rem; */

  align-self: center;
  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#h1Initial{
  font-size: 2.5rem;
}

#pInitial{
  font-size: 1.5rem;
}

.btnInicial {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  padding: 0.7rem 5rem;
  margin: 1rem;
  width: 20rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: white;
}

.entrar{
  background-color: #1877f2;
}

.doar{
  background-color: #b919b9;
}

button:hover{
    background-color: rgb(7, 177, 21);
}

#emailLogin,
#passwordLogin{
  width: 18rem;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}