body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 90vh;
  width: 90%;
  margin: 5vh 5%;

  display: flex;
}

#leftSide,
#rightSide {
  height: 40vh;
  text-align: center;
  padding: 1rem 2rem;
  margin: 1rem;
  /* background-color: f0f2f5; */
  /* border-radius: 3rem; */

  align-self: center;
  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#h1Initial{
  font-size: 2.5rem;
}

#pInitial{
  font-size: 1.5rem;
}

.btnInicial {
  display: block;
  cursor: pointer;
  background-color: #1877f2;
  border: none;
  border-radius: 1rem;
  padding: 1.5rem 5rem;
  margin: 1rem;
  width: 25rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: white;
}

button:hover{
  background-color: rgb(17, 36, 29);
}

button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 50px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(7, 177, 21);
}


