* {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
  }
  
header nav{
    background-color: #bbd0ec;
}

.nav-item{
    background-color: #83b3f1;
    border: none;
    margin: 0.5rem;
    width: 15rem;
    font-size: 1rem;
    text-align: center;
    color: black;
}

.nav-item:hover{
    background-color: #1877f2;
    color: white;
}

