*{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
  }
                        /*LAYOUT ESTRUTURA DO SITE*/
.div1,
.div2{
    margin-top: 5%;


}
.div1{
    background-color: red;
    padding: 5px;
}
.container{
    margin: 0%;

}
                        /*BOTÕES DO SITE*/
.btnEntrar,
.btnCadastrar {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    margin-top: 5%;
    margin-left: 5%;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: #A9B3B7;
    color: white;
}
.btnEntrar{
    width: 20rem;
}
.btnCadastrar {
    color: #A9B3B7;
    background-color: white;
    border: 1.4px solid #A9B3B7;
    margin-left: 35%;
}
.btnDoador{
    margin-left: 45%;

}

                        /*LETRAS E LINHAS DO SITE*/
p{ /*Textos de Cards*/
    font-size: 15px;
}
.legenda,
.title {
    font-size: 20px;
    text-align: center;
}
.title{
    font-size: 26px;
    font-weight: bold;
}
h3{ /*Home (Sobre) / Seja um Doador*/
    text-align: start;
    font-size: 30px;
    font-weight: bold;
    padding-top: 0%;
}