*{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
  }
  html, body{
    height: 100%;
    margin: 0
  }
  body{
    background-image: url("/img/bgdashboard.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .btnInc{
  background-color: #6157C1;
  height: 3rem;
  width: 20rem;
  border: none;
  }
  .btnVoltar {
  background-color: #F6F6F6;
  border: 1px solid #6157C1;
  color: #6157C1;
  width: 7rem;
  }
  .title{
  font-weight: bold;
  }
  .subtitle{
    font-size: 20px;
    height: 40px;
  }