/* ARQUIVO SERÁ UTILIZADO PARA CSS QUE SEJA IGUAL PARA TODO O SITE */


/*NAVBAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(7, 177, 21);
    text-decoration: none;
  }
  
  
  section{
      position:absolute;
      right: 41%;
      left: 1.25%;
      top: 20%;
      padding: 5px 10px 50px 25px;
  }
  
  aside{
      position:fixed;
      left: 60%;
      right: 1.25%;
      top: 20%;
      padding: 20px 10px 50px 25px;
  }
  
  section, 
  aside{
      background-color: rgb(235, 235, 235);
      border-radius: 1rem;
      box-shadow: 0.5rem #6b6b6b;
      cursor: pointer;
      transition: 0.5s;
      margin-top: 2%;
  }
  
  .home{
    height: max-content;
  }  

  footer{
    background-color: blue;
  }